/* CSS reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    background: #eaecee;
    z-index: 1;
}


/* Navigation Bar: Logo and Image */

#logo{
margin: 0px 34px;

}
#logo img{  
    margin: 3px 0px;
    height: 59px;
}
/* Navigation Bar: List Styling */



#navbar ul{
    display: flex;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: bold;
}

#navbar ul li{
    list-style: none;
    font: 1.3rem;
    
}
#navbar ul li a{
    color: rgb(136, 132, 132);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
   color: black;
   background-color: white;
}



.rightNav{
    display: flex;
    position: absolute;
    left: 77%;
    font-family: 'Source Sans Pro', sans-serif;
}


#Search{
    margin: 21px -5px;
    border-radius: 6px;
    font-size: 14px;
}
/* home section */
#Home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 61vh
}

.Background{
    background: rgba(0, 0, 0, 0.7) url('../Images/bg.jpg');
    background-size: cover;
}
/* #Home::before{ 
        content: "";
        background: url(../Images/bg.jpg) no-repeat center center/cover;
        position: absolute;
        height: 100%;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: -1;
} */
#Home h1{
    color: black;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
#Home p{
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
}
/* Services section */
.NameServices{
    font-size: 2rem;
    padding: 3px;
    display: flex;
    justify-content: center;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.Read_more{
    display: flex;
    justify-content: center;
}
#Services{
    margin: 6px;
    display: flex;    
}
#Services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f2f2f2;
}

#Services .box p{
    font-family: 'Source Sans Pro', sans-serif;
}

#Services .box img{
    display: block;
    margin: auto;
    height: 160px;
}
#Pie{
    display: block;
    margin: auto;
    height: 160px;
    width: 181px;
}
    /* Client-Section */

#Client-Section{
    position: relative;
}

#Client-Section::before{
    content: "";
    position: absolute;
    background: url(../Images/food-still-life-salmon-keto-healthy-eating-1296x728-header.jpg);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#Clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Client-Item{
    padding: 34px;
}
#Clients img{
    height: 124px;
}
/* Contact-Section*/

#Contact-Us{
    position: relative;
}
#Contact_us_name{
    font-family: 'Source Sans Pro', sans-serif;
}
#Contact-Us::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../Images/contactus.jpg) no-repeat center center/cover; 
}
#Contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Contact-box input,
#Contact-box textarea{
    width: 100%;
    padding: .5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#Contact-box form{
    width: 40%;
}

#Contact-box label{
    font-size: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
}



footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
    /* Utilities */

.btn{
    padding: 6px 20px;
    border: 2px solid #979797;
    background-color: brown;
    color: white;
    margin: 17px;
    font: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn-sm{
    padding: 5px 20px;
    border: 2px solid #979797;
    background-color: brown;
    color: white;
    margin: 18px 29px;
    font: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

#Home h1{
    text-align: center;
}

#Home p{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}
.h-secondary{
    font-size: 2rem;
    padding: 12px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.center{
    text-align: center;
}
